.start {
    text-align: center;

    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 10%;
    }

    article {
        h1 {
            font-family: "Roboto Medium";
            color: #4a503d;
            font-size: 2rem;
            margin-bottom: 5%;
        }

        p {
            font-family: "Source Sans Pro Regular";
            color: #a1a4b2;
            padding: 0 10%;
            letter-spacing: 0.05em;

            a {
                color: #e28f83;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        p:first-of-type {
            margin-bottom: 20%;
        }

        p:last-of-type {
            text-transform: uppercase;
            margin: 10% 0;
        }
    }
}
